<!doctype html>
<html>
  <head>
    <script src="../../socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id='main'>
    </div>
    <script>
      // Ugly stuff, I hate putting context params like this...
      const hostname = '<%= hostname %>';
      let socket = io.connect(hostname);
      let main = document.getElementById('main');

      socket.on('logs', (message) => {
        let logElement = document.createElement('div');
        logElement.innerHTML = message;
        main.appendChild(logElement);
      });
    </script>
  </body>
</html>
